@charset "utf-8";
/*-------------------------------------------------
Style Sheet
Version : 1.0
Author :  김지웅
Create date : 2018. 11. 1.
-------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
/* layout */



/* form */

.basic-form{
	max-width:500px;
	padding:0 15px;
	width:100%;
	margin:0 auto;
}
.basic-form .row-group p{
	padding:10px 0;
	text-align:center;
}
.basic-form .row-group p em{
	font-weight:500;
	color:indianred;
}
.basic-form .row-btn{
	margin-top:30px;
	text-align:center;
}
.basic-form .row-btn button{
	width:100%;
	display:block;
	padding:10px 0;
}

input.basic-input{
	width:100%;
	border:1px solid #dedede;
	box-sizing:border-box;
	padding:10px;
}
.login-btn{
	background:#b76c6e;
	color:#fff;
	font-size:16px;
}

.row-member{
	margin-top:10px;
	text-align:right;
}
.row-member ul li{
	display:inline-block;
}
.row-member ul li a{
	display:inline-block;
	font-size:14px;
	color:#333;
}
.row-member ul li a:after{
	content:"";
	display:inline-block;
	width:1px;
	height:10px;
	background:#ccc;
	box-sizing:border-box;
	margin:0 10px;
}
.row-member ul li:last-child a:after{
	display:none;	
}



#contents {
	width: 100%;
	overflow: hidden;
}
.container {
	width: 100%;
	max-width:1200px;
	margin:0 auto;
}
header{
	width:100%;
	background:url(/resources/img/header-bg.jpg) no-repeat center center;
	position:absolute;
    top:0;
    border-bottom:1px solid #4d5948;
    box-sizing:border-box;
    z-index:999;
}
.header_wrap{
    position:relative;
}
.member ul{
    float:left;
}
.member ul li{
    display:inline-block;
}
.member ul li a{
    display:inline-block;
    font-size:14px;
    color:#fff;
    padding:5px 10px;
    box-sizing:border-box;
}
.search_cart{
    float:right;
}
.search_cart ul{
    font-size:0;
}
.search_cart li{
    display:inline-block;
}
.search_cart li a{
    display:block;
    padding:5px 10px;
    box-sizing:border-box;
}
.logo{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
.logo h1 a{
    display:block;
    font-size:32px;
    color:#ffffff;
}
.pc-menu ul{
    font-size:0;
    text-align:center;
}
.pc-menu li{
    display:inline-block;
}
.pc-menu li a{
    display:block;
    font-size:16px;
    color:#ffffff;
    padding:20px 30px;
    box-sizing:border-box;
    font-weight:300;
}



/*m-menu*/
.m-menu-bg{
	background:rgba(0,0,0,0.6);
	width:100%;
	height:100%;
	position:fixed;
	top:0px;
	left:0px;
	z-index:9999;
	display:none;
	overflow:hidden;
}
			
.m-menu {
	width: 80%;
	height: 100%;
	
	position: fixed;
	top: 0;
	right: -100%;
	display: none;
    z-index: 99999;
	background:white;
	border-left:1px solid #ddd;
	box-sizing:border-box;
	background:#f0f0f0;
}
.m-menu img{
/*	width:100%;*/
	vertical-align:bottom;
	max-width:100%;
	position:absolute;
	top:0;
	left:0;
	right:0;
	bottom:0;
	margin:auto;
}
/*
.m-top{
	position:absolute;
	top:0;
	z-index:999;
	width:100%;
}
*/
.m-logo{
	width:100%;
	height:49px;
	line-height:49px;
	padding-left:10px;
	box-sizing:border-box;
	position:relative;
	background:#b91a23;
}
.m-logo p{color:#fff;}
.m-logo p span{font-size:16px;}
.m-logo em{float:right; margin-right:10px;}
.m-logo em a{
	font-size:12px;
	color:#fff;
}
.log-off{display:none;}
.m-logo > div{
	width:60%;
}
.m-list ul{
	display:table;
	width:100%;
	border-bottom:1px solid #fff;
	box-sizing:border-box;
	border-collapse: collapse;
	background:#fff;
}
.m-list li{
	width:25%;
	height:50px;
	display:table-cell;
	text-align:center;
	border:1px solid #ccc;
	box-sizing:border-box;
	border-top:0;
	line-height:50px;
}
.m-list li a{
	display:block;
	width:100%;	
	height:100%;
}
.m-list-member ul{
	width:100%;
	display:table;
	border-collapse: collapse;
}
.m-list-member ul li{
	display:table-cell;
	width:50%;
	height:50px;
	line-height:50px;
	text-align:center;
	border:1px solid #ccc;
	box-sizing:border-box;
	background:#fff;
}
.m-content{
	position:absolute;
	top:122px;
	left:0;
	right:0;
	bottom:0;
	overflow:auto;
    -webkit-overflow-scrolling:touch;
}


.m-content > ul> li > a{
	padding: 20px 20px;
	box-sizing: border-box;
}
.m-content > ul> li a {
	display: block;
	color: #333;
	border-bottom: 1px solid #ccc;
}

.m-content > ul> li .sub-menu {
	display: none;
}
.m-content > ul> li .sub-menu li a {
	padding: 10px 30px;
	box-sizing: border-box;
}
.m-content > ul> li .sub-menu li:hover a {
	background: #999;
	color: #fff;
}
.m-content > ul> li .sub-menu li a {
	color: #fff;
}
/*hamburger*/
.hamburger.is-active {}
.hamburger {position:absolute; z-index:9999999;  transform: scale(0.8);display: none;top: 0px;right: 0px;padding: 10px 15px;}
.hamburger .line{
	width: 30px;
	height: 3px;
	background-color: #fff;
	display: block;
	margin: 7px auto;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	 transition: all 0.2s ease-in-out;
}

.hamburger:hover{cursor: pointer;}

#hamburger-6.is-active{
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: rotate(45deg) scale(0.8);
	-ms-transform: rotate(45deg) scale(0.8);
	-o-transform: rotate(45deg) scale(0.8);
	transform: rotate(45deg) scale(0.8);
}

#hamburger-6.is-active .line:nth-child(2){
	width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
	background-color:#fff;
}

#hamburger-6.is-active .line:nth-child(1){
	-webkit-transform: translateY(13px);
	-ms-transform: translateY(13px);
	-o-transform: translateY(13px);
	transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3){
	-webkit-transform: translateY(-7px) rotate(90deg);
	-ms-transform: translateY(-7px) rotate(90deg);
	-o-transform: translateY(-7px) rotate(90deg);
	transform: translateY(-7px) rotate(90deg);
}

footer {
	width:100%;
	background:#1f1f1f;
    padding:65px 0;
    box-sizing:border-box;
}
.foot-menu{
    padding-bottom:30px;
    box-sizing:border-box;
    border-bottom:1px solid #444444;
}
.foot-menu dl{
    width:20%;
    float:left;
}
.foot-menu dl dt{
    font-size:14px;
    color:#ffffff;
}
.foot-menu dl dd{
    margin:15px 0;
}
.foot-menu dd{
    font-size:14px;
    color:#8e8e8e;
}
.foot-menu dd input{
    padding:5px 10px;
    box-sizing:border-box;
    width:75%;
    height:35px;
    vertical-align:middle;
    border:0;
}
.foot-menu dd button{
    widtH:25%;
    height:35px;
    background:#b76c6e;
    color:#fff;
    font-size:14px;
    margin-left:-3px;
    vertical-align:middle;
    box-sizing:border-box;
}
.foot-menu input::placeholder {
    color: #8e8e8e;
    font-size:14px;
    font-weight:400;
}
.foot-menu input::-webkit-input-placeholder {
    color: #8e8e8e;
    font-size:14px;
    font-weight:400;
}
.foot-menu input:-ms-input-placeholder {
    color: #8e8e8e;
    font-size:14px;
    font-weight:400;
}
.foot-menu dd a{
    font-size:14px;
    color:#8e8e8e;
}
.foot-sns{
    padding:40px 0;
    box-sizing:border-box;
    text-align:center;
}
.foot-sns ul{
    display:inline-block;
}
.foot-sns li{
    display:inline-block;
    text-indent:-9999px;
    margin:0 15px;
}
.sns_icon{
    background:url(resources/img/sns_icon.png) no-repeat;
}
.foot-sns li:first-child a{
    display:block;
    width:14px;
    height:27px;
    background-position:0 0;
}
.foot-sns li:first-child a:hover{
    background-position:-14px 0;
}
.foot-sns li:nth-of-type(2) a{
    display:block;
    width:29px;
    height:23px;
    background-position:-28px 0px;
}
.foot-sns li:nth-of-type(2) a:hover{
    background-position:-57px 0;
}
.foot-sns li:nth-of-type(3) a{
    display:block;
    width:27px;
    height:27px;
    background-position:-86px 0px;
}
.foot-sns li:nth-of-type(3) a:hover{
    background-position:-113px 0;
}
.copyright{
    text-align:center;
}
.copyright p{
    font-size:14px;
    color:#8e8e8e;
}

/* media */
@media (max-width:1200px){
	.row {padding: 0 10px;}
    .logo{float:left; position:relative; top:auto; transform: translate(0);}
    .pc-menu{
        float:right;
    }
    .pc-menu li a{
        padding:10px 20px;
    }
}
@media (max-width:1024px){
	.pc-menu li a{
        padding:10px 15px;
    }
}
@media (max-width:768px){
	header{height:60px;}
	.logo h1 a{line-height:60px;}
    .top_header{display:none;}
    .pc-menu{display:none;}
    .hamburger {display: block;}
	footer{min-width:300px;}
}
@media (max-width:650px){

}
@media (max-width:480px){
	header{
		min-width:300px;
	}
	nav{
		min-width:300px;
	}
	nav li{
		font-size:0.8em;
	}
	.footer .copyright span{
		display:block;
	}
}
