@charset "utf-8";
/*-------------------------------------------------
Style Sheet
Version : 1.0
Author :  김지웅
Create date : 2018. 11. 1.
-------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:600');
/* layout */


.banner{
	position:fixed;
	top:0;
	right:-200px;
	z-index:99999;
}
-ms-.banner{
	right:-150px;
} 
.banner a.banner-btn{
	display:block;
	background:#fff;
	padding:10px;
	box-sizing:border-box;
	border-radius:0 0 0 10px;
	border-left:1px solid #333;
	border-bottom:1px solid #333;
	position:absolute;
	top:0;
	left:-53px;
	z-index:999;
	display:none;
}

.banner-box{
	width:200px;
	background:#fff;
	height:100vh;
}



.error{
	text-align:center;
	padding:150px 0;
}
.error a{
	display:block;
	border:1px solid indianred;
	padding:7px 0;
	margin-top:10px;
}

/* form */

.basic-form{
	max-width:500px;
	padding:0 15px;
	width:100%;
	margin:0 auto;
}
.basic-form .row-group p{
	padding:10px 0;
	text-align:center;
}
.basic-form .row-group p em{
	font-weight:500;
	color:indianred;
}
.basic-form .row-btn{
	margin-top:30px;
	text-align:center;
}
.basic-form .row-btn button{
	width:100%;
	display:block;
	padding:10px 0;
}

input.basic-input{
	width:100%;
	border:1px solid #dedede;
	box-sizing:border-box;
	padding:10px;
}
.login-btn{
	background:#b76c6e;
	color:#fff;
	font-size:16px;
}

.row-member{
	margin-top:10px;
	text-align:right;
}
.row-member ul li{
	display:inline-block;
}
.row-member ul li a{
	display:inline-block;
	font-size:14px;
	color:#333;
}
.row-member ul li a:after{
	content:"";
	display:inline-block;
	width:1px;
	height:10px;
	background:#ccc;
	box-sizing:border-box;
	margin:0 10px;
}
.row-member ul li:last-child a:after{
	display:none;	
}



#contents {
	width: 100%;
	overflow: hidden;
}
.container {
	width: 100%;
	max-width:1200px;
	margin:0 auto;
}
header{
	width:100%;
	background:url(/resources/img/header-bg.jpg) no-repeat center center;
	position:absolute;
    top:0;
    border-bottom:1px solid #4d5948;
    box-sizing:border-box;
    z-index:999;
}
.header_wrap{
    position:relative;
}
.top_header{
	margin-top:5px;
}

.top_header.scr-header{
	position:fixed;
	margin-top:0;
	width:100%;
	top:0;
	left:0;
	background:#333;
	transition:all 300ms;
	padding:7px;
	box-sizing:border-box;
	animation-timing-function: cubic-bezier(.215, .61, .355, 1);
}
.member{
    float:left;
}
.member ul li{
    display:inline-block;
}
.member ul li a{
    display:inline-block;
    font-size:14px;
    color:#fff;
    padding:5px 10px;
    box-sizing:border-box;
}
.search_cart{
    float:right;
}
.search_cart ul{
    font-size:0;
}
.search_cart li{
    display:inline-block;
}
.search_cart li a{
    display:inline-block;
    padding:5px 10px;
    box-sizing:border-box;
}
.search_cart li span{
	display:inline-block;
	position:relative;
	width:0;
	overflow:hidden;
	transition:all 0.5s;
	vertical-align:middle;
	
}
.search_cart li span.on{
	width:200px;
}
.search_cart li span button{
	position:absolute;
	top:0;
	right:0;
	width:50px;
	height:30px;
	line-height:30px;
	background:#333;
	color:#fff;
}
.search_cart li span input{
	width:calc(100% - 50px);
	height:30px;
	line-height:30px;
	border:1px solid #dedede;
	box-sizing:border-box;
	background:rgba(255,255,255,0.9);
}
.logo{
    position:absolute;
    top:50%;
    transform: translateY(-50%);
}
.logo h1 a{
    display:block;
    font-size:32px;
    color:#ffffff;
}
.pc-menu ul{
    font-size:0;
    text-align:center;
}
.pc-menu li{
    display:inline-block;
}
.pc-menu li a{
    display:block;
    font-size:16px;
    color:#ffffff;
    padding:20px 30px;
    box-sizing:border-box;
    font-weight:300;
}


/*
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
모바일메뉴
ㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡㅡ
*/
.m-menu {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: -100%;
  z-index: 9999;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.3);
  display: none;
}

.m-menu-top {
  height: 65px;
  background: #222222;
  padding: 20px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
}

.m-menu-top .m-menu-lm-box {
  float: left;
}

.m-menu-top .m-menu-lm-box li {
  display: inline-block;
  vertical-align: middle;
  margin-right: 10px;
}

.m-menu-top .m-menu-lm-box li a {
  display: inline-block;
  font-size: 15px;
  color: #ffffff;
}

.m-menu-top .m-menu-close {
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.m-menu-body {
  background: #f2f5f6;
  overflow-x: hidden;
  overflow-y: auto;
  height: calc(100% - 65px);
}

.m-menu-body .m-menu-box {
  margin-bottom: 10px;
}

.m-menu-box {
  background: #fff;
}

.m-menu-box .m-menu-box-tit {
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m-menu-box .m-menu-box-tit p {
  font-size: 13px;
  color: #111;
}

.m-menu-shop {
  text-align: center;
}

.m-menu-shop li {
  width: calc(33.3333% + 1px);
  float: left;
  border: 1px solid #f2f5f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: -1px;
}

.m-menu-shop li a {
  display: block;
  padding: 15px 0;
}

.m-menu-shop li a span {
  margin-top: 5px;
  display: block;
  font-size: 11px;
  color: #111111;
}

.m-menu-popul {
  text-align: center;
}

.m-menu-popul li {
  width: calc(33.3333% + 1px);
  float: left;
  border: 1px solid #f2f5f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin-right: -1px;
}

.m-menu-popul li a {
  display: block;
  padding: 10px 0;
  font-size: 11px;
  color: #111111;
  font-weight: 500;
}

.m-menu-cate li {
  width: calc(50% + 1px);
  border: 1px solid #f2f5f6;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  float: left;
  margin-right: -1px;
}

.m-menu-cate li a {
  display: block;
  font-size: 11px;
  position: relative;
  padding: 15px 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m-menu-cate li a:after {
  content: "";
  display: block;
  width: 6px;
  height: 7px;
  background: url(/img/m-cate-icon.png) no-repeat center center;
  background-size: cover;
  position: absolute;
  top: 50%;
  right: 10px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.m-menu-list {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.m-menu-list li {
  width: calc(50% - 10px);
  float: left;
  margin: 5px;
}

.m-menu-list li.m-login-area a {
  background: #dddddd;
}

.m-menu-list li a {
  display: block;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f2f5f6;
}

.m-menu-list li a span {
  display: inline-block;
  vertical-align: middle;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #fff;
  position: relative;
  margin-right: 10px;
}

.m-menu-list li a span:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.m-menu-list li a span.m-notice-icon:before {
  width: 15px;
  height: 15px;
  background: url(/img/m-notice-icon.png) no-repeat center center;
  background-size: cover;
}

.m-menu-list li a span.m-quest-icon:before {
  width: 15px;
  height: 15px;
  background: url(/img/m-quest-icon.png) no-repeat center center;
  background-size: cover;
}

.m-menu-list li a span.m-review-icon:before {
  width: 19px;
  height: 15px;
  background: url(/img/m-review-icon.png) no-repeat center center;
  background-size: cover;
}

.m-menu-list li a span.m-login-icon:before {
  width: 13px;
  height: 15px;
  background: url(/img/m-login-icon.png) no-repeat center center;
  background-size: cover;
}
/*hamburger*/
.hamburger.is-active {top:0;}
.hamburger {position:absolute; z-index:9999999;  transform: scale(0.8);display: block;top: 40px;right: 0px;padding: 10px 15px;}.hamburger .line{
	width: 30px;
	height: 3px;
	background-color: #fff;
	display: block;
	margin: 7px auto;
	-webkit-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	 transition: all 0.2s ease-in-out;
}

.hamburger:hover{cursor: pointer;}

#hamburger-6.is-active{
	-webkit-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
	-webkit-transform: rotate(45deg) scale(0.8);
	-ms-transform: rotate(45deg) scale(0.8);
	-o-transform: rotate(45deg) scale(0.8);
	transform: rotate(45deg) scale(0.8);
}

#hamburger-6.is-active .line:nth-child(2){
	width: 0px;
}

#hamburger-6.is-active .line:nth-child(1),
#hamburger-6.is-active .line:nth-child(3){
	-webkit-transition-delay: 0.3s;
	-o-transition-delay: 0.3s;
	transition-delay: 0.3s;
	background-color:#fff;
}

#hamburger-6.is-active .line:nth-child(1){
	-webkit-transform: translateY(13px);
	-ms-transform: translateY(13px);
	-o-transform: translateY(13px);
	transform: translateY(13px);
}

#hamburger-6.is-active .line:nth-child(3){
	-webkit-transform: translateY(-7px) rotate(90deg);
	-ms-transform: translateY(-7px) rotate(90deg);
	-o-transform: translateY(-7px) rotate(90deg);
	transform: translateY(-7px) rotate(90deg);
}

footer {
	width:100%;
	background:#1f1f1f;
    padding:65px 0;
    box-sizing:border-box;
}
.foot-menu{
    padding-bottom:30px;
    box-sizing:border-box;
    border-bottom:1px solid #444444;
}
.foot-menu dl{
    width:20%;
    float:left;
}
.foot-menu dl dt{
    font-size:14px;
    color:#ffffff;
}
.foot-menu dl dd{
    margin:15px 0;
}
.foot-menu dd{
    font-size:14px;
    color:#8e8e8e;
}
.foot-menu dd input{
    padding:5px 10px;
    box-sizing:border-box;
    width:75%;
    height:35px;
    vertical-align:middle;
    border:0;
}
.foot-menu dd button{
    widtH:25%;
    height:35px;
    background:#b76c6e;
    color:#fff;
    font-size:14px;
    margin-left:-3px;
    vertical-align:middle;
    box-sizing:border-box;
}
.foot-menu input::placeholder {
    color: #8e8e8e;
    font-size:14px;
    font-weight:400;
}
.foot-menu input::-webkit-input-placeholder {
    color: #8e8e8e;
    font-size:14px;
    font-weight:400;
}
.foot-menu input:-ms-input-placeholder {
    color: #8e8e8e;
    font-size:14px;
    font-weight:400;
}
.foot-menu dd a{
    font-size:14px;
    color:#8e8e8e;
}
.foot-sns{
    padding:40px 0;
    box-sizing:border-box;
    text-align:center;
}
.foot-sns ul{
    display:inline-block;
}
.foot-sns li{
    display:inline-block;
    text-indent:-9999px;
    margin:0 15px;
}
.sns_icon{
    background:url(resources/img/sns_icon.png) no-repeat;
}
.foot-sns li:first-child a{
    display:block;
    width:14px;
    height:27px;
    background-position:0 0;
}
.foot-sns li:first-child a:hover{
    background-position:-14px 0;
}
.foot-sns li:nth-of-type(2) a{
    display:block;
    width:29px;
    height:23px;
    background-position:-28px 0px;
}
.foot-sns li:nth-of-type(2) a:hover{
    background-position:-57px 0;
}
.foot-sns li:nth-of-type(3) a{
    display:block;
    width:27px;
    height:27px;
    background-position:-86px 0px;
}
.foot-sns li:nth-of-type(3) a:hover{
    background-position:-113px 0;
}
.copyright{
    text-align:center;
}
.copyright p{
    font-size:14px;
    color:#8e8e8e;
}

/* media */
@media (max-width:1200px){
	.row {padding: 0 10px;}
    .logo{float:left; position:relative; top:auto; transform: translate(0);}
    .pc-menu{
        float:right;
        padding-right:50px;
        box-sizing:border-box;
    }
    .hamburger{
   		top:30px;
   	}
    .pc-menu li a{
        padding:10px 20px;
    }
}
@media (max-width:1024px){
	.pc-menu li a{
        padding:10px 15px;
    }
}
@media (max-width:768px){
	header{height:60px;}
	.logo h1 a{line-height:60px;}
    .top_header{display:none;}
    .pc-menu{display:none;}
    .hamburger {display: block;}
	footer{min-width:300px;}
}
@media (max-width:650px){

}
@media (max-width:480px){
	header{
		min-width:300px;
	}
	nav{
		min-width:300px;
	}
	nav li{
		font-size:0.8em;
	}
	.footer .copyright span{
		display:block;
	}
}
