.jsgrid-header-cell, .jsgrid-cell{
	text-overflow:ellipsis;
	white-space:nowrap;
	word-wrap:normal;
	width:100px;
	overflow:hidden;	
}
.jsgrid-cell img{
	max-width:100%;
}

.card-body-link{
	text-align:right;
	margin-bottom:10px;
}
.card-body-link a{
	display:inline-block;
	padding:3px 10px;
	box-sizing:border-box;
	background:#f8f9fa;
	color:#444;
	border:1px solid #ddd;
}
.hover{
	cursor:pointer;
}